<div class="mx-auto w-[80vw] border-2 border-[#cfcfcf] mt-4 rounded-sm">

  <div class="px-4 py-2 shadow flex items-center justify-end border-b border-gray-400 sm:px-6">
    <div>
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div class="pagination flex items-center">
          <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
            class="px-4 py-2 border rounded-md text-gray-500 hover:text-gray-700 hover:bg-gray-200 disabled:opacity-50 mr-2">Previous</button>
          <!-- Added mr-2 for some spacing -->
          <span class="text-sm text-gray-700">{{ 'Page ' + currentPage }} / {{ totalPages }}</span>
          <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
            class="px-4 py-2 border rounded-md text-gray-500 hover:text-gray-700 hover:bg-gray-200 disabled:opacity-50 ml-2">Next</button>
          <!-- Added ml-2 for some spacing -->
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-y-scroll h-[600px]">
    <table class="divide-y w-full divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Image
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First
            Name</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last
            Name
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Details
            Link</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for(e of getpagUser() ; track e.id){
        <tr class="hover:bg-gray-100">
          <td class="px-3 py-2 whitespace-nowrap">
            <img src="{{e.imageUrl}}" alt="User Image" class="h-20 w-20 rounded-full">
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{e.firstName}}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{e.lastName}}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{e.email}}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button (click)="navigateToDetails(e)" class="text-indigo-600 hover:text-indigo-900">🢘 💁 see detail</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
