<table>
    <thead>
      <tr>
        <th>Image</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
        @for(e of users ; track e.id){
      <tr  >
        <td><img [src]="e.imageUrl" alt="User Image"></td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.email}}</td>
        <td>{{e.password}}</td>
        <button (click) = "navigateToDetails(e)" >details</button>
      </tr>
    }
    </tbody>
  </table>
  