
<section class="bg-gray-200 py-12">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center -mx-4">
      @for(e of materials; track e.id){
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6 card"> 
        <div class="bg-white shadow-md rounded-md p-6">
          <h2 class="text-xl font-bold mb-2">Material Name: {{ e.name }}</h2>
          <p class="text-gray-700 mb-4">Description: {{ e.description }}</p>
          <p class="text-gray-700 mb-4">Price: {{ e.price }}</p>
          <p class="text-gray-700 mb-4">Date: {{ e.date }}</p>
          <a href="{{ e.link }}" class="text-blue-500 hover:text-blue-700 read-more">Read More</a>
        </div>
      </div>
    }
    </div>
  </div>
</section>
