<div class="flex justify-center gap-20">
  <div class="card">
    <a class="card1" href="admin/AllCoursesForAdmin">
      <h1 class="large">{{ materials.length }}</h1>
      <p class="small"></p>
      <h2 class="text-sm font-medium text-gray-500 dark:text-gray-400">
         courses taught around the world
      </h2>
      <div class="go-corner" href="#">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
  <div class="card">
    <a class="card1" href="admin/AllUsersForAdmin">
      <p>{{ users.length }}</p>
      <p class="small"></p>
      <h2 class="text-sm font-medium text-gray-500 dark:text-gray-400">
       courses taught around the world
      </h2>
      <div class="go-corner" >
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
</div>
<div class="justify-center px20">
  <h1 class="justify-center"> the most highly attended courses:</h1>
<div class="flex center mt-4">

  <a
    href="#"
    class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline"
    >{{userCount[0].name}}</a
  >
  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
    <div class="h-5 bg-blue-300 rounded" [style.width.%]="(userCount[0].Users.length * 100) / users.length"></div>
  </div>
  <span class="text-sm font-medium text-gray-500 dark:text-gray-400"> {{getFormattedWidth(userCount[0].Users)}} %</span>
</div>
<div class="flex items-center mt-4">
  <a
    href="#"
    class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline"
    >{{userCount[1].name}}</a
  >
  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
    <div class="h-5 bg-blue-300 rounded" [style.width.%]="(userCount[1].Users.length * 100) / users.length"></div>
  </div>
  <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{getFormattedWidth(userCount[1].Users)}}%</span>
</div>
<div class="flex items-center mt-4">
  <a
    href="#"
    class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline"
    >{{userCount[2].name}}</a
  >
  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
    <div class="h-5 bg-blue-300 rounded" [style.width.%]="(userCount[2].Users.length * 100) / users.length"></div>

  </div>
  <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{getFormattedWidth(userCount[2].Users)}}%</span>
</div>
<div class="flex items-center mt-4">
  <a
    href="#"
    class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline"
    >{{userCount[3].name}}</a
  >
  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
    <div class="h-5 bg-blue-300 rounded" [style.width.%]="(userCount[3].Users.length * 100) / users.length"></div>

  </div>
  <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{getFormattedWidth(userCount[3].Users)}}%</span>
</div>
<div class="flex items-center mt-4">
  <a
    href="#"
    class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline"
    >{{userCount[4].name}}</a
  >
  <div class="w-2/4 h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
    <div class="h-5 bg-blue-300 rounded" [style.width.%]="(userCount[4].Users.length * 100) / users.length"></div>

  </div>
  <span class="text font-medium text-gray-500 dark:text-gray-400">{{getFormattedWidth(userCount[4].Users)}}%</span>
</div>
</div>
