.search-container {
  @apply bg-[#f9f9f9] relative p-2 border border-[#0c6e629c] rounded shadow-sm;
}
.search-box {
  border-color: #adadad;
  border-radius: 5px;
  height: 30px;
  padding: 15px 10px;
  display: block;
  font-size: 18px;
  color: #3f3f3f;
  width: 300px;
  @apply border-2;
}
.search-result {
  /* display:none; */
  top: 90%;
  left: 10px;
  position: absolute;
  width: 300px;
  /* margin: 20px auto 0 auto; */
  max-height: 300px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #00000060;
  z-index: 5;

  hr {
    border: none;
    height: 0.2px;
    background-color: rgb(192, 192, 192);
  }

  p {
    padding: 10px 5px;
    cursor: pointer;
  }
  p:hover {
    background-color: #f3f3f3;
  }
}
