<div class="flex justify-center items-center h-screen ">
  <div class="max-w-lg w-[1500px] my-8 md:max-auto p-2 bg-white shadow-lg border border-solid border-gray-300 rounded-md">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-700">Sign Up</h2>

    <form (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="flex justify-center items-center mb-4">
        <label for="image" class="relative cursor-pointer">
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            id="image"
            class="sr-only"
          />
          <img
            [src]="image"
            alt="Click to Upload"
            class="w-32 h-32 object-cover rounded-full border-2 border-gray-300 hover:border-indigo-500"
          />
        </label>
      </div>

      <div>
        <label for="firstName" class="block text-sm font-medium text-gray-700"
          >First Name</label
        >
        <input
          type="text"
          id="firstName"
          placeholder="First Name"
          required
          name="firstName"
          [(ngModel)]="form.firstName"
          class="bg-indigo-50 border border-indigo-150 text-slate-500 text-sm rounded-lg focus:ring-slate-500 focus:border-indigo- block w-full p-2.5"
        />
      </div>

      <div>
        <label for="lastName" class="block text-sm font-medium text-gray-700"
          >Last Name</label
        >
        <input
          type="text"
          id="lastName"
          placeholder="Last Name"
          required
          name="lastName"
          [(ngModel)]="form.lastName"
          class="bg-indigo-50 border border-indigo-150 text-slate-500 text-sm rounded-lg focus:ring-slate-500 focus:border-indigo- block w-full p-2.5"
        />
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="email"
          id="email"
          placeholder="Email"
          name="email"
          required
          [(ngModel)]="form.email"
          class="bg-indigo-50 border border-indigo-150 text-slate-500 text-sm rounded-lg focus:ring-slate-500 focus:border-indigo- block w-full p-2.5"
        />
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Password</label
        >
        <input
          type="password"
          id="password"
          placeholder="Password"
          name="password"
          required
          [(ngModel)]="form.password"
          minlength="8"
          class="bg-indigo-50 border border-indigo-150 text-slate-500 text-sm rounded-lg focus:ring-slate-500 focus:border-indigo- block w-full p-2.5"
        />
        @if(form.password && !StrongPassword(form.password)){
        <div class="text-red-500 text-sm mt-1">
          Password must have 8 characters, including uppercase, lowercase, and a
          number.
        </div>
        }
      </div>

      <button
        type="submit"
        class="block w-full py-2 text-xl text-gray-800 bg-slate-100 from-eb81e8 to-109384 rounded-md hover:from-eb81e8 hover:to-109384 transition duration-300 shadow-md cursor-pointer mt-6"
      >
        Sign Up
      </button>

      <p class="text-sm text-gray-600 mt-4 text-center">
        Already have an account?
        <a href="/login" class="text-indigo-500 hover:text-indigo-700"
          >Login Here</a
        >
      </p>
    </form>
  </div>
</div>
