
.search-input {
    flex: 1; 
  }
  
  .search-button {
    min-width: 80px; 
  }
  
 
  .bg-gray-200 {
   
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
 
  .card {
   
    margin-bottom: 2rem;
  }
  
  
  .card-title {
    font-size: 1.25rem; 
    font-weight: bold; 
  }
  
  
  .card-content {
    color: #333;
  }
  
  
  .read-more {
    color: #007bff; 
  }
  
  .read-more:hover {
    text-decoration: underline; 
  }
  

  /* Styles for left button */
.left-button {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-right: 10px; 
    border-radius: 4px; 
  }
  
  .left-button:hover {
    background-color: #45a049; 
  }
  
  .right-button {
    background-color: #f44336; 
    color: white; 
    border: none;
    padding: 10px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border-radius: 4px; 
  }
  .right-button:hover {
    background-color: #d32f2f; 
  }
  