<div class="flex justify-center items-center h-screen">
  <div  class="max-w-xl w-full mx-auto p-8 bg-white shadow-md border border-solid border-gray-300 rounded-md">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-700">Login</h2>

    <form (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="email" class="block text-lg font-medium text-gray-700">Email Address</label>
        <input
          type="email"
          id="email"
          placeholder="Email Address"
          required
          [(ngModel)]="form.email"
          name="email"
          class="bg-indigo-50 border border-indigo-150 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
        />
      </div>

      <div>
        <label for="password" class="block text-lg font-medium text-gray-700">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Password"
          required
          [(ngModel)]="form.password"
          name="password"
          minlength="8"
          class="bg-indigo-50 border border-indigo-150 text-slate-500 text-sm rounded-lg focus:ring-slate-500 focus:border-indigo- block w-full p-2.5"
        />
      </div>

      <button
        type="submit"
        class="block w-full py-2 text-xl text-gray-800     rounded-md hover:from-eb81e8 hover:to-109384 transition duration-300 shadow-md cursor-pointer mt-6 card-footer  justify-end px-3 btn-action "
      >
        Login
      </button>

      <p class="text-lg text-gray-600 mt-4 text-center">
        Don't have an account yet? 
        <a href="/register" class="text-blue-700 hover:text-blue-800">Register Here</a>
      </p>
    </form>
  </div>
</div>
