<div class="px-4 py-2 shadow flex items-center justify-end border-b border-gray-400 sm:px-6">
    <div>
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div class="pagination flex items-center">
          <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
            class="px-4 py-2 border rounded-md text-gray-500 hover:text-gray-700 hover:bg-gray-200 disabled:opacity-50 mr-2">Previous</button>
      
          <span class="text-sm text-gray-700">{{ 'Page ' + currentPage }} / {{ totalPages }}</span>
          <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
            class="px-4 py-2 border rounded-md text-gray-500 hover:text-gray-700 hover:bg-gray-200 disabled:opacity-50 ml-2">Next</button>
          
        </div>
      </div>
    </div>
  </div>
