<!-- navbar placeholder -->
<nav style="height: 70px; background-color: #e2e2e2;"></nav>

<section class="course-details">
    <div class="course-headers">
        <div>
            <div class="course-title">{{data.name}}</div>
            <div class="course-price">{{data.price}}TND</div>
            <div class="course-date">{{data.date}}</div>
        </div>
        <div class="course-action">
            <div class="course-action-button">
                Enroll
            </div>
        </div>
    </div>

    <div class="course-body">
        {{data.description}}
        {{data.description}}
        {{data.description}}
        {{data.description}}
    </div>

</section>