<!-- navbar placeholder -->
<nav style="height: 70px; background-color: #e2e2e2;"></nav>

@defer (when (data && enrolled)) {
<section class="course-details">
    <div class="course-headers">
        <div>
            <div class="course-title">{{data.name}}</div>
            <div class="course-price">{{data.price}}TND</div>
            <div class="course-date">{{data.date}}</div>
        </div>
        <div class="course-action">
            @if(enrolled.result){
            <div>
                <p>Enrooled At {{enrolled.date}}</p>
                <a target="_blank" [href]="data.link" class="course-badge">
                    Go To Lessons
                </a>
            </div>
            }@else {
            <button (click)="enroll()" class="primary-button">
                Enroll
            </button>
            }
        </div>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    <div class="course-body">
        {{data.description}}
        {{data.description}}
        {{data.description}}
        {{data.description}}
    </div>

</section>
}