@defer (when (data && enrolled)) {
<section class="course-details">
    <div class="course-headers">
        <div class="course-headers-info">
            <div class="course-title">{{data.name}}</div>
            <div class="course-price">{{data.price}}TND</div>
            <div class="course-date">{{data.date}}</div>
        </div>
        <div class="course-action">
            @if(enrolled.result){
            <div>
                <p>Enrolled At {{enrolled.date}}</p>
                <a target="_blank" [href]="data.link" class="course-badge">
                    Go To Lessons
                </a>
            </div>
            }@else {
            <div>
                <button (click)="enroll()" class="btn btn-lg btn-outline-success">
                    Enroll
                </button>
            </div>
            }
        </div>
    </div>
    <div class="course-body">
        {{data.description}}
    </div>

</section>
}