<div class="nav">
  <div class="nav-header">
    <img src="../assets/image.png" alt="Logo" width="50">
  </div>
  <div class="nav-btn">
    <input type="checkbox" id="nav-check">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/all-courses">Courses</a>
  </div>
  <div class="nav-links">
    <a href="/my-courses">Enrolled in</a>
  </div>
  <div class="nav-links">
    <a href="/login">Login</a>
  </div>
  <div class="nav-links">
    <a href="/signup">SignUp</a>
  </div>
</div>
<router-outlet></router-outlet>