<create-course></create-course>
<div  class="mx-auto w-[80vw] border-2 border-[#cfcfcf] mt-4 rounded-sm" >


<div class="px-4 py-3 flex items-center justify-between border-b border-gray-200 sm:px-6 mb-4">
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div class="pagination flex items-center"> 
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="px-4 py-2 border rounded-md text-gray-500 hover:text-gray-700 hover:bg-gray-200 disabled:opacity-50 mr-2">Previous</button> <!-- Added mr-2 for some spacing -->
      <span class="text-sm text-gray-700">{{ 'Page ' + currentPage }} / {{ totalPages }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages" class="px-4 py-2 border rounded-md text-gray-500 hover:text-gray-700 hover:bg-gray-200 disabled:opacity-50 ml-2">Next</button> <!-- Added ml-2 for some spacing -->
    </div>
  </div>
</div>



<div class="overflow-y-scroll h-[600px]">
  <table class="divide-y w-full divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Link</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">update/delete
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      @for(e of getPagMat(); track e.id) {
        <tr class="hover:bg-gray-100">
          <td class="px-6 py-4 whitespace-nowrap">{{e.name}}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{e.description}}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{e.price}}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{e.date}}</td>
          <td class="px-6 py-4 whitespace-nowrap"><a href="{{e.link}}" class="text-indigo-600 hover:text-indigo-900">{{e.link}}</a></td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button (click)="navigateToCourses(e)" class="text-indigo-600 hover:text-indigo-900">♻ . </button>
            <button (click)="delCourse(e.id)" class="text-indigo-600 hover:text-indigo-900">or 🗑️ </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
</div>