

  <nav class="nav">
    <div  class="nav-header nav-item">
      <img src="{{ heroImageUrl }}" alt="Logo" width="50">
      <span>E-Lyceum</span>
    </div>
  
    <div class="nav-links">
      <div>
        <a class="nav-item navlink" href="/admin">
          Home
        </a>
      </div>
      <div>
        <a class="nav-item navlink" href="admin/AllUsersForAdmin">Users</a>
      </div>
      <div>
        <a class="nav-item navlink" href="admin/AllCoursesForAdmin">Courses</a>
      </div>
    </div>
  
    <div class="nav-dropdown nav-item">
      <img src="{{ heroImageUrl }}"  alt="Logo" width="50">
    </div>
  </nav>

