.container {
  gap: 30px;
  margin-top: 20px;
  padding: 20px 10vw 30px;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 100vh; */
  gap: 30px;
  margin-top: 20px;
}

.box-mat {
  width: calc(33.33% - 20px);
  font-size: medium;
  @apply bg-[#ffffff] rounded border-2 border-[#0c6e6236] p-[20px] shadow;
  @apply hover:bg-[#f8f8f8] duration-75 cursor-pointer;
}

.name {
  @apply text-[#0C6E63] text-[20px] font-medium border-b-2 border-[#0c6e6230] mb-2 py-1 mr-8;
}

.price {
  @apply text-[#404040] text-[18px] font-medium;
}

.date {
  @apply text-[#414141] text-[18px] font-medium mb-2;
}

.btn-group {
  @apply flex justify-end;
}
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-action {
  @apply text-[#97740C] font-[600] bg-[#FCF3D9] border-2 border-[#E2AE12] shrink;
}

.btn-action:hover {
  @apply text-[#fff] font-[600] bg-[#E2AE12] border-2 border-[#E2AE12];
}

.center-row {
  display: flex;
  justify-content: center;
}

.tools-container {
  @apply bg-[#f9f9f986] relative p-2 border flex items-center border-[#0c6e629c] rounded shadow-sm;
}