<p>login works!</p>
<div class="app-login-form">
  <h2>Login Here</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-input">
      <label>Email Address</label>
      <input
        type="email"
        placeholder="Email address"
        required
        [(ngModel)]="form.email"
        name="email"
      />
    </div>
    <div class="form-input">
      <label>Password</label>
      <input
        type="password"
        placeholder="Password"
        required
        [(ngModel)]="form.password"
        name="password"
        minlength="8"
      />
    </div>
    <button type="submit" class="app-login-btn">Login</button>
    <p>
      Do not have an accout yet?
      <button class="app-toggle-btn" type="button">Register Here</button>
    </p>
  </form>
</div>
